<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Girassol</title>

    <link rel="icon" href="~/pro/dist/assets/images/logo/icon.png"> 

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/pro/dist/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/pro/dist/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/pro/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/pro/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/pro/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/pro/dist/assets/images/favicon.svg" type="image/x-icon">
    <style>
        button {
            background-color: orange
        }
    </style>

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                <div style="background-color:red" class="mx-2 mt-2">

                    <center>
                        <a asp-action="index" asp-controller="home">
                            <img src="~/pro/dist/assets/images/logo/logo.png" alt="Logo" width="100%" height="auto">
                        </a>
                    </center>

                </div>



                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        @*<li class="sidebar-title"> Estatística</li>*@
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Facturas </span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a asp-action="read" asp-controller="invoice"> Lista </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Relatórios </span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a> Relatório 1 </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>


        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>


            <div class="page-content">



                <section class="row">

                    @RenderBody()



                </section>
            </div>

            <footer style=" position: absolute; bottom: 0; ">
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>@DateTime.Now.Year &copy; Genesys Systems </p>
                    </div>
                    <div class="float-end">
                        <p>
                            @*   Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>*@
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/pro/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/pro/dist/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/pro/dist/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/pro/dist/assets/js/pages/dashboard.js"></script>
    <script src="~/pro/dist/assets/js/mazer.js"></script>

    @*  @await RenderSectionAsync("Scripts", required: false)*@

    @RenderSection("scripts", required: false)
     
</body>

</html>









