@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="container">
    <hr class="hr-text text-center" data-content="Welcome" />
</div>
