@model Girassol.Models.Invoice

<div class="col-12">
    <div class="card">

        <div class="card-content">
            <div class="card-body">

                <!-- button trigger for  Vertically Centered modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModalCenter">
                    Criar Fatura !
                </button>
                <!-- Vertically Centered modal Modal -->
                <div class="modal fade  w-1000" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel16" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                         role="document">


                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    Novo Recebo
                                </h5>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <i data-feather="x"></i>
                                </button>
                            </div>


                            <div class="modal-body">
                                <form class="form form-vertical" method="post" asp-action= "create" asp-controller ="invoice" >
                                    <div class="form-body">

                                        @Html.Partial("_separatorWithStringParamiters",  "Quantidade ")

                                        <div id="clientDiv">


                                            <div class="col-12">
                                                <div class="form-group has-icon-left">
                                                    <label for="descr" asp-for="Quantity" > Adicione a quantidade</label>
                                                    <div class="position-relative">
                                                        <input type="number" class="form-control" placeholder="Quantidade" asp-for="Quantity">
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-list-ol"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 



                                            
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Continuar ➡️ </button>
                                                <button type="reset" data-bs-dismiss="modal" class="btn btn-light-danger me-1 mb-1">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </div>

                                  
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



